<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <header class="panel-heading">
                    <div class="line1">
                    <ul class ="actions list-inline">
                        <button type="button" ng-click="open2()" class="btn btn-labeled btn-dis">More Books</button>
                         <script type="text/ng-template" id="book.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">More Books !</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <!--use ng-repeat here-->
            <h4>Select a book from the list above : </h4>
           <div class="radio" ng-repeat="option in books">
                <label > <input type="radio" name ="select" ng-value="option" ng-model="$parent.selected">{{option}}</label>
            </div>
            <button type="button" ng-click="upload()" class="btn btn-labeled btn-dis"><span><i class="glyphicon glyphicon-upload" aria-hidden="true"></i></span> Upload file</button>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
                       </ul> 
                        <div class="book">
                            <button type="button" ng-click="open()" class="btn btn-labeled btn-dis"><span><i class="fa fa-book" aria-hidden="true"></i></span></button>
                              <script type="text/ng-template" id="changebook.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <p>Description</p>
            <h1>{{book}}</h1>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
                            <span class="namebook"> #{{bookName}}</span>
                        </div>
                    </div>                                 
                </header>
                <div  class="panel-body">
                    
                     <div class="input-group search-bar middle" >
      <input type="text"  class="form-control" placeholder="Search for a word" ng-model='word' autofocus ng-keypress="EnterKeyPressed($event)" uib-typeahead="noun for noun in nouns | filter:$viewValue | limitTo:5"/>
      <span class="input-group-addon bar-style" ng-click="search()"><i class="glyphicon glyphicon-search"></i></span>
                        </div>
                    <div class="allign">

                   <label>Nouns <input type="radio" ng-model="checkboxModel.noun" name = "noun"></label>
                    <label>Proper Nouns <input type="radio" ng-model="checkboxModel.proper_nouns" name = "noun">
  </label>
                        
                        </div>
    <p>display grapg with some margin !! </p>
                    <graph-chart></graph-chart>
                
            </div>
</div>
<!--<div class="col-md-4">
            <div class="panel">
                <header class="panel-heading">
                     <div class="book">
                        <span><i class="fa fa-bookmark" aria-hidden="true"></i></span>
                            <span class="namebook"> #Book description</span>
                        </div>
                        </header>
                <div  class="panel-body">
                    <p>
                    here a description of the book crawling a site to get the relevant information and a link will be fixed to browse the text</p>
                    </div>
        </div>
    </div>-->
    </div>
</div>