<div class="jumbotron">
    <div class = "jumb">
	<h2>Willkommen ! </h2>
<!--  here you can add a text-->
    </div>
</div>
<div class ="mycontainer">
 <div class="row">
        <div class="col-md-12">
            <div class= "home">
              <div class="head">
  <img src="img/loupe.png" alt="glass" />
  <h1><strong>Getting started?</strong></h1>
</div>
            <p> here you can give a brief description of the organazation, how can they help, ask a question like,</p>
        </div>
     </div>
</div>
</div>