<div class="jumbotron">
    <div class = "jumb">
	<h2>Willkommen ! </h2>
        <p>Wir sind Integrationshilfe...</p>
<!--  here you can add a text-->
    </div>
</div>
<div class ="mycontainer">
 <div class="row">
        <!--<div class="col col-md-8 col-lg-8 centering">-->
     <div class="col-sm-offset-3 col-md-offset-3 col-sm-6 col-md-6 col-lg-6">
           <!-- <div class="col-sm-offset-4 col-md-offset-4 col-sm-4 col-md-4 col-lg-4">-->
            <div class= "home">
                <!-- center the first text here -->
                <h3>Integrations projekt für Asylbewerber und Langzeitarbeitslose in Passau</h3>
<p> Der Zweck ist die Integration von bleibeberechtigten Asylbewerbern. Diese Personengruppe braucht genau so wie Langzeitarbeitslose eine Zukunftsperspektive. Integration, Aktivierung, Orientierung und Qualifizierung finden in einer der realen Arbeitswelt nahen Umgebung statt, die flexibel an die Leistungsfähigkeit des Einzelnen angepasst wird. Langzeitarbeitslose arbeiten gemeinsam mit Flüchtlingen im Team zusammen.</p>
                
     <h3>Was ist das Besondere an diesem Projekt?</h3>
    <p> Es soll erreicht werden, dass durch den Kontakt von Langzeitarbeitslosen mit Flüchtlingen Vorurteile abgebaut werden und somit ein Beitrag zum sozialen Frieden geleistet wird. Außerdem sollen wir die Fähigkeiten beider Gruppen vereint werden: Die einen haben in vielen Fällen einen Beruf erlernt und sprechen deutsch, die anderen sind hochmotiviert und können mit „learning-by-doing“ und nebenbei auch durch die Unterstützung beim Sprachunterricht gefördert werden. </p>  
                
    <h3>Was ist das kurz- bzw. langfristige Ziel des Projekts?</h3>
    <p> Man setzt sich zum Ziel, nachhaltige Projekte umzusetzen. Gleichzeitig sollen diese Aktivitäten Beispiel gebend sein und eine nachhaltige Entwicklung in der Region fördern.

Des weiteren soll in der Bevölkerung darauf aufmerksam gemacht werden, dass Langzeitarbeitslose und Flüchtlinge nicht nur nehmen, sondern Talente haben und ihren Beitrag zum Gemeinwohl leisten können.</p>    
     
        <h3>Was wollen wir herstellen ?</h3>
        <p>Wir konzentrieren uns auf verschiedene Wiederverwendungsaktivitäten und wollen damit zur Abfallvermeidung beitragen.    Geplant sind das Upcycling von Geräten, Materialien und auch die Weiterverarbeitung bzw. Nachbearbeitung von Kleinteilen aus Metall.</p>
<h4>Sind Wir interessiert ? </h4>
                <p>Wir mussen fullen das papier <a target="_self" href="/client/uploads/Beitrittserkrung_Integrationshilfe_Passau_e.V.pdf" download="/client/uploads/Beitrittserkrung_Integrationshilfe_Passau_e.V.pdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>
</a> und senden sie es an diese mail <strong>Lschimdlehner@t-online.de</strong> oder senden mit post an diese addresse<strong> Wilhelm-Niedermayer-Straße 1, 94034 Passau</strong></p>
                
</div>
            </div>
</div>
</div>
<!-- hallo houni pdf injection and the paragraph don't forget !!-->