<div class ="mycontainer">
    <div class="container">
 <div class="row">
        <!--<div class="col col-md-8 col-lg-8 centering">-->
     <div class="col-sm-offset-3 col-md-offset-3 col-sm-6 col-md-6 col-lg-6">
           <!-- <div class="col-sm-offset-4 col-md-offset-4 col-sm-4 col-md-4 col-lg-4">-->
            <div class= "home add_padding">
                <h3>Vereinsgründung und Vereinsförderung „Integrationshilfe PASSAU e.V.“ </h3>
                
                    <img class="displayed"  src="/client/img/teamwork.png">
                <br>
                <p>Um es zu ermöglichen, unsere Konzepte und Ideen auf ein solides, zukunftsfähiges Fundament zu stellen haben wir einen gemeinnützigen Verein gegründet. Dieser Verein soll ein interkulturelles Integrationskonzept für Stadt und Landkreis Passau in die Wege leiten. Natürlich wollen wir hinsichtlich unseres Konzepts auch mit anderen Vereinen und Verbänden eng zusammenarbeiten. <p>
                <ul>
                <li>
                <p>* Wir wollen ein dezentrales Netzwerk ausbauen</p>
                    <li><p>* die Helferkreise gut vernetzen und den Austausch fördern </p></li>
                    <li><p>* gemeinsam mit dem Netzwerk Veranstaltungen durchführen </p></li>
                    <li><p>* positive Öffentlichkeitsarbeit umsetzen </p></li>
                    <li><p>* eng zusammenarbeiten z.B. mit der VHS Passau (als Bildungsträger) </p></li>
                    <li><p>* Informationsveranstaltungen organisieren mit dem Schwerpunkt der </p></li>
                    <li><p>Demokratievermittlung (Grundrechte und Pflichten) sowie individuellen Hilfsbausteinen </p></li>
                    <li><p>* die bleibeberechtigten Asylbewerber auf einen Ausbildungs- und Berufsweg vorbereiten (Orientierung und Qualifizierung) Vorqualifizierung in reaktivierten Werkstätten- auch in Zusammenarbeit mit Langzeitarbeitslosen (learning by doing) und Intensivierung der deutschen Sprache bei den Asylbewerbern </p></li>
                    <li><p>* die Motivation sowohl der Schutzbedürftigen als auch der Langzeitarbeitslosen fördern (Zukunftsperspektiven anbieten) </p></li>
                    <li><p>* einen Integrationsbeirat in die Wege leiten an dem auch Migranten beteiligt sind </p></li>
                    <p>Ein Kosten- und Finanzierungsplan wurde ausgearbeitet wegen der Beantragung von Fördermitteln. </p>
                </ul>
                <h3>Was ist das kurz- bzw. langfristige Ziel des Projekts? </h3>
                <p>Man setzt sich zum Ziel, nachhaltige Projekte umzusetzen. Gleichzeitig sollen diese Aktivitäten Beispiel gebend sein und eine nachhaltige Entwicklung in der Region fördern.

Des weiteren soll in der Bevölkerung darauf aufmerksam gemacht werden, dass Langzeitarbeitslose und Flüchtlinge nicht nur nehmen, sondern Talente haben und ihren Beitrag zum Gemeinwohl leisten können. </p>
                <h3>1. Was wollen wir herstellen (Produkte/Dienstleistungen) </h3>
                <p>Wir konzentrieren uns auf verschiedene Wiederverwendungsaktivitäten und wollen damit zur Abfallvermeidung beitragen. Geplant sind das Upcycling von Geräten, Materialien und auch die Weiterverarbeitung bzw. Nachbearbeitung von Kleinteilen aus Metall. </p>
                <h4>Welche Voraussetzungen müssen bis zum Projektstart noch erfüllt werden? </h4>
                <p>Eine eigene Werkstätte ist aus Kostengründen nur schwer finanzierbar (zu hohe Kosten für die Anmietung bzw. Reaktivierung von vorhandenen Räumlichkeiten). Deshalb wollen wir nach Möglichkeit eine bereits vorhandene Werkstatt von einem Bildungsträger bzw. von einem Unternehmen teilen. Voraussetzung ist auch, dass die Werkstätte für die Teilnehmer an der Integrationsmaßnahme mit öffentlichen Verkehrsmitteln gut erreichbar ist.

Grundsätzlich müssen auch noch Maschinen und Werkzeuge neu angeschafft werden und es sollte eine Lagerkapazität vorhanden sein. </p>
                <h3>2. Möglichkeiten für die Akzeptanz des Projekts </h3>
                <p>In Zusammenarbeit mit der Bundesagentur für Arbeit (Jobcenter), der Stadt und dem Landkreis Passau, der Regierung von Niederbayern, der Handwerkskammer Niederbayern-Oberpfalz, IHK Niederbayern, des Wirtschaftsforums Passau, des Wirtschaftsforums Niederbayern sowie weiterer Institutionen und auch gemeinsam mit Bildungsträgern wollen wir Möglichkeiten suchen, das Projekt zu starten. </p>
                <h3>3. Chancen und Risiken </h3>
                <h4>Wie wollen wir Risiken/Probleme bei der Umsetzung des Projektes vermeiden? </h4>
                <p>Eine hohe Priorität bei der Umsetzung hat, dass man sowohl für Langzeitarbeitslose als auch bleibeberechtigten Asylbewerbern Zukunftsperspektiven schafft. Für beide Personengruppen bedeutet das ein Integrationskonzept. Wir wollen für diese Menschen den Zugang zum Arbeitsmarkt erleichtern in dem man sie für handwerkliche Tätigkeiten qualifiziert.</p>

<p>Weil diese Personen im Rahmen eines „Upcycling“ Projektes beschäftigt werden, leisten wir auch einen wichtigen Beitrag zur Nachhaltigkeit und zum Umweltschutz. Man kann sich auch vorstellen, durch die Nachbearbeitung und Veredelung von Kleinteilen aus Metall als „Zulieferer“ für Unternehmen tätig zu werden.</p>

<p>Um die Ziele zu erreichen braucht man die möglichst unbürokratische Unterstützung seitens der zuständigen Behörden, Institutionen, der Politik, von Sozialverbänden und von der Wirtschaft. </p>
                <h3>4. Finanzplan/Liquiditätsplan </h3>
                <p>Geplant ist, dass das Projekt sowohl aus öffentlichen Fördermitteln, Spenden sowie auch aus Mitgliedsbeiträgen (Fördermitglieder) des Vereins und aus den Einnahmen durch das Upcykling und weitere Arbeitsaufträge, die in der Werkstatt durchgeführt werden finanziert werden kann.

Wie hoch ist der Gesamtkapitalbedarf für Anschaffungen und wie hoch sind die Vorlaufkosten für den Start des Projekts (Anlaufphase 6 Monate)
<strong>Der genaue Finanzplan (Wirtschaftsplan für 3 Jahre) wurde ausgearbeitet</strong>. </p>
                
         </div>
         </div>
     </div>
    </div>